@import bootstrap

body, html
  height: 100%
  min-height: 100%

#container
  padding: 20px
  position: relative

#file-list
  +make-row

.file-list
  +make-lg-column(9)
  +make-md-column(9)

#file-actions
  +make-lg-column(3)
  +make-md-column(3)

  ul
    list-style-type: none
    padding: 0
    margin-bottom: 20px

    li
      margin-bottom: 10px

      a
        padding-left: 10px

      .glyphicon
        &.bookmark
          @extend .glyphicon-bookmark
        &.preview
          @extend .glyphicon-eye-open
        &.download
          @extend .glyphicon-download
        &.edit
          @extend .glyphicon-pencil

table
  @extend .table
  @extend .table-hover

  thead > tr > th.sortable
    cursor: pointer

    &.selected
      color: blue

      &.asc .glyphicon
        @extend .glyphicon-chevron-down
      &.desc .glyphicon
        @extend .glyphicon-chevron-up


  tbody > tr
    cursor: pointer

    & > td
      border: none

    &.selected
      background-color: $state-info-bg

.file
  i
    margin: 0 5px 0 -19px

/*.page
  position: absolute
  top: 50px
  right: 0
  bottom: 0
  left: 0
  padding: 1em
  transition: transform 0.5s ease
  transform: translate3d(100%, 0, 0)

  &.is-visible
    transform: translate3d(0, 0, 0)*/
